@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 20s infinite linear;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.logo {
  z-index: 2;
  width: 228px;
  height: 32px;
  transition: opacity .4s ease;
}

.logo:hover {
  opacity: 0.6;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header__title {
  max-width: 730px;
  margin: 0;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .4s ease;
}

.header__link:hover {
  opacity: 0.6;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.description {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  color: #2f80ed;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.techniques {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.cards {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 920px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  padding: 60px 40px 43px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.cards__title {
  margin: 0;
  padding-bottom: 16px;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
}

.video__iframes {
  position: relative;
  bottom: -50px;
  margin: 0 auto;
  padding: 0;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  height: 316px;
}

.video__iframe {
  width: 515px;
  height: 100%;
  margin: 0;
}

.oakley {
  display: flex;
  justify-content: center;
  padding: 160px 0 100px;
  background-color: #f2f2f2;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  z-index: 1;
}

.table__heading {
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2em;
  font-size: 18px;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
  max-width: 648px;
  line-height: 1.15em;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  margin: 0 auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .4s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}

.khan {
  padding-top: 100px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
}

.khan__title {
  margin: 0;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  padding: 50px 0 36px;
  margin: 0;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  padding: 10px 0 68px;
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
}

.khan__book-container {
  display: flex;
  align-items: flex-start;
}

.khan__book-pic {
  position: relative;
  width: 620px;
  height: 608px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  margin-left: 48px;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .4s ease;
}

.khan__buy-link:hover {
  opacity: 0.6;
}

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
}

.resources {
  padding-top: 100px;
}

.resources__logo-zone {
  list-style: none;
  padding: 0;
  margin: 80px auto 217px;
  width: 1100px;
  display: flex;
  justify-content: center;
}

.resources__link {
  width: 270px;
  height: 38px;
  transition: opacity .4s ease;
}

.resources__link:hover {
  opacity: 0.6;
}

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  color: white;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .4s ease;
}

.footer__column-link:hover {
  opacity: 0.6;
}

.footer__social-icon {
  padding-right: 10px;
}
